*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
/* Header styling */

/* .netflixlogo{
        fill: hsl(81, 92%, 47%);
        display: flex;
} */

.sign-btn{
    background-color: #e50909;
    float: right;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    padding: 7px 17px;
    text-decoration: none;
    color: white;
    border-radius: 0.15em;
}

.netflix-logo{
    height: 36px;
    width: 134px;
    fill: #e50914;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../img/first\ section\ background\ pics.jpg);
    background-size: cover;
    background-position: center;
    /* background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1)); */
}

.header-wrapper{
      background-color: transparent;
  }

.header-child {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    align-items: center;
}

.first-sec{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    }



.first-sec .content{
    margin: 0 auto;
    max-width: 950px;
    padding: 75px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1
}

.first-sec .content h1 {
        font-size: 5rem;
        font-weight: 500;
        color: white;
}

.first-sec .content p {
    font-size:2.5rem;
    color: white;
}

.form-control label{
        font-size: 1.2rem;
            max-width: none;
            padding-bottom: 20px;
            color: white;
}

 .input-control button {
    background-color: #e50909;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    padding: 7px 17px;
    text-decoration: none;
    color: white;
    border: none;
    
}

 .input-control input {
    background-color: White;
    padding: 17px 100px;
    }

.tv-section {
    background-color: #000;
    border-top: solid 5px #333;
}

.tv-section .container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem 0;
}

.tv-section .content {
    color: #fff;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.section-img {
    width: 80%;
}

/* .first-sec .sec1-back-image{
    background-size: cover;
    position: absolute;

}


.first-sec .sec1-back-image img {
  transform: none;
object-fit: cover;

} */